@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

$ff-primary: "Montserrat", sans-serif;

$clr-primary: #f5f7fb;
$clr-accent: #4d5b9e;
$clr-dark: #555;
$clr-grey: #dad8d8;
$clr-false: #ff5252;
$clr-correct: #4caf50;
$clr-pressed: #ffa500;

$bkg-clr-primary: #4d5b9e;
$bkg-clr-secondary: #f5f7fb;
$bkg-clr-accent: #8f3b3b;

$fs-350: 14px;
$fs-400: 16px;
$fs-500: 20px;

$fw-reg: 400;
$fw-bold: 700;

$bs: 0 8px 16px rgba(0, 0, 0, 0.5);
