@import "../../styles/variables";
.card {
  margin: 0 auto;
  padding: 15px 15px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  &__title {
    font-size: $fs-400;
    color: $clr-accent;
  }
  &__list {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
    gap: 12px;
    padding: 0 0 12px 0;

    border-bottom: 1px solid $clr-grey;
  }
  &__answer {
    list-style-type: none;
    text-align: center;
    font-size: $fs-350;

    padding: 0.25em;
    border: 2px solid $clr-accent;
    border-radius: 8px;
    cursor: pointer;

    &_pressed {
      background-color: $clr-pressed;
    }
    &_correct {
      background-color: $clr-correct;
    }
    &_false {
      background-color: $clr-false;
    }
  }
}

@media (min-width: 480px) {
  .card {
    width: 70vw;
    max-width: 1000px;
    &__list {
      grid-template-columns: repeat(4, 1fr);
    }
  }
}
