@import "./styles/variables";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

/* General styles */

button {
  display: block;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: $ff-primary;
}
